<%= form_with(model: @user, local: true) do |f| %>

  <% if @user.errors.any? %>
    <p>error!</p>
  <% end %>

  <%= f.label :Name %>
  <%= f.text_field :name %>
  <br>
  <% if @user.new_record? %>
    <%= f.label :Username %>
    @<%= f.text_field :user_name %>
    <br>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password確認 %>
    <%= f.password_field :password_confirmation %>
    <br>
  <% else %>
    <%= f.label :ひとこと %>
    <%= f.text_field :biography %>
  <% end %>
  <%= f.submit yield(:button_text) %>
<% end %>
