<%= form_with(model: @user, local: true) do |f| %>

  <% if @user.errors.any? %>
    <p>error!</p>
  <% end %>

  <% unless @user.new_record? %>
    <img id="preview" src="/user_icons/<%= @user.image %>" alt="icon" width=50px height=50px style="border-radius:100%; object-fit:cover;">
    <%= f.file_field :image, accept: ".png,.jpg", onchange: "previewImage(this);" %>
  <% end %>
  <br>

  <%= f.label :Name %>
  <%= f.text_field :name %>
  <br>
  <% if @user.new_record? %>
    <%= f.label :Username %>
    @<%= f.text_field :user_name %>
    <br>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password確認 %>
    <%= f.password_field :password_confirmation %>
    <br>
  <% else %>
    <%= f.label :ひとこと %>
    <%= f.text_field :biography %>
  <% end %>
  <%= f.submit yield(:button_text) %>
<% end %>

<script>
function previewImage(obj)
{
  var fileReader = new FileReader();
  fileReader.onload = (function() {
    document.getElementById('preview').src = fileReader.result;
  });
  fileReader.readAsDataURL(obj.files[0]);
}
</script>
