<% provide(:title, "メールアドレス変更") %>

<div class="container">
	<h4>メールアドレスを変更します</h4>
	<%= form_with(url: "/edit_email/#{@user.user_name}") do |f| %>
		<div class="col-12 col-sm-10 col-lg-7 col-xl-6 mt-4">
			<p class="form-label mb-2">現在のメールアドレス</p>
			<p class="form-control border"><%= @user.email %></p>
			<div class="form-outline mb-2">
				<%= f.label :新しいメールアドレス, class: "form-label" %>
				<%= f.text_field :email, class: "form-control border" %>
			</div>
			<div class="form-outline mb-2">
				<%= f.label :パスワード, class: "form-label" %>
				<%= f.password_field :password, class: "form-control border" %>
			</div>
			<%= f.submit :次へ, class: "col-12 btn btn-yellow my-3" %>
		</div>
	<% end %>
</div>
