<div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
    <div class="container-fluid">
      <div class="navbar-header">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#myNavbar"
          aria-controls="myNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="fas fa-bars"></span>
        </button>
        <a class="text-light h4 ms-3 me-3" href="<%= root_path %>">idy</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
          <% if @current_user.nil? %>
            <li class="nav-item">
              <a class="nav-link text-white" href="<%= root_path %>" data-mdb-toggle="modal" data-mdb-target="#signup">新規登録</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="<%= root_path %>" data-mdb-toggle="modal" data-mdb-target="#login">ログイン</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link text-white" href="<%= user_path(@current_user) %>">MyPage</a>
            </li>
            <li class="nav-item">
				      <a type="button" class="nav-link text-white" data-mdb-toggle="modal" data-mdb-target="#new_post" data-mdb-ripple-color="dark"><strong>ひらめいた！</strong></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <%= render 'layouts/flash' %>
</div>

<div class="header-margin">
</div>

<% if @current_user %>
  <%= render partial: 'home/modal', locals: { id: "new_post" } %>
<% end %>
